<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBTOON-the official home for all things WEBTOON</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
</head>
<body onload="btn_Home()">
<div id="wrap">
    <!--start-header-->
    <header>
        <div class="header">
            <div class="heeader_inner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="logo">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Naver_Line_Webtoon_logo.png" alt=""
                                         width="87px" height="84px">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <ul class="lnb">
                                    <li><a>Originals</a></li>
                                    <li><a>Genres</a></li>
                                    <li><a>Popula</a></li>
                                    <li><a>Canvas</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="lk_creators">
                            <div class="sta">
                                <span class="fa fa-book"></span>
                                <a href="">Creators 101</a>
                                <span> | </span>
                                <a href="" class="publish">Publish</a>
                                <a href="" class="login">Login</a>
                                <span> | </span>
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--end-header-->
    <!--start-ongoing-->
    <div id="navbar">
        <ul class="box-icon-canvas">
            <li id="dad_btn_Home" ><a id="btn_Home" href="#">HOME</a></li>
            <li><a href="#">ALL</a></li>
            <li><a href="#">COMEDY</a></li>
            <li><a href="#">FANTASY</a></li>
            <li><a href="#">ROMANCE</a></li>
            <li><a href="#">SLICE</a></li>
            <li><a href="#">SCI-FI</a></li>
            <li><a href="#">DRAMA</a></li>
            <li><a href="#">ACTION</a></li>
            <li><a href="#">SUPERHERO</a></li>
            <li><a href="#">OTHERS</a></li>
        </ul>
    </div>
    <!--end-ongoing-->
    <!--start-slider-->
    <div class="slider-canvas">
        <div class="RECOMMENDED">
            <h2>RECOMMENDED SERIES</h2>
        </div>
        <div class="slider-canvas-item">
            <div class=" main-carousel main-crs">
                <div class=" carousel-cell crs">
                    <div class="img-canvas">
                        <img  src="upload/Issues.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div class="mark-canvas">
                        <p class="mark-canvas-view">8k</p>
                        <p class="mark-canvas-genres">Fantasy</p>
                        <p class="mark-canvas-name">Panderword</p>
                        <p class="mark-canvas-name1">kariyeen</p>
                    </div>
                </div>
                <div class=" carousel-cell crs">
                    <div class="img-canvas">
                        <img  src="upload/Issues.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div class="mark-canvas">
                        <p class="mark-canvas-view">8k</p>
                        <p class="mark-canvas-genres">Fantasy</p>
                        <p class="mark-canvas-name">Panderword</p>
                        <p class="mark-canvas-name1">kariyeen</p>
                    </div>
                </div>
                <div class=" carousel-cell crs">
                    <div class="img-canvas">
                        <img  src="upload/Issues.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div class="mark-canvas">
                        <p class="mark-canvas-view">8k</p>
                        <p class="mark-canvas-genres">Fantasy</p>
                        <p class="mark-canvas-name">Panderword</p>
                        <p class="mark-canvas-name1">kariyeen</p>
                    </div>
                </div>
                <div class=" carousel-cell crs">
                    <div class="img-canvas">
                        <img  src="upload/Issues.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div class="mark-canvas">
                        <p class="mark-canvas-view">8k</p>
                        <p class="mark-canvas-genres">Fantasy</p>
                        <p class="mark-canvas-name">Panderword</p>
                        <p class="mark-canvas-name1">kariyeen</p>
                    </div>
                </div>
                <div class=" carousel-cell crs">
                    <div class="img-canvas">
                        <img  src="upload/Issues.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div class="mark-canvas">
                        <p class="mark-canvas-view">8k</p>
                        <p class="mark-canvas-genres">Fantasy</p>
                        <p class="mark-canvas-name">Panderword</p>
                        <p class="mark-canvas-name1">kariyeen</p>
                    </div>
                </div>
                <div class=" carousel-cell crs">
                    <div class="img-canvas">
                        <img  src="upload/Issues.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div class="mark-canvas">
                        <p class="mark-canvas-view">8k</p>
                        <p class="mark-canvas-genres">Fantasy</p>
                        <p class="mark-canvas-name">Panderword</p>
                        <p class="mark-canvas-name1">kariyeen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end-slider-->
    <!--start-body-->
    <div class="body-canvas">
        <h2 style="margin: 70px 0 20px 115px">Weekly HOT</h2>
        <div class="weekly-canvas">
            <a href="#">
                <div class="weekly-canvas-item">
                    <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                    <div class="mark-weekly-canvas">
                        <p class="mark-weekly-view">8k</p>
                        <p class="mark-weekly-genres">Fantasy</p>
                        <p class="weekly-canvas-name">Panderword</p>
                        <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                    </div>
                </div>
            </a>
            <div class="weekly-canvas-item">
                <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                <div class="mark-weekly-canvas">
                    <p class="mark-weekly-view">8k</p>
                    <p class="mark-weekly-genres">Fantasy</p>
                    <p class="weekly-canvas-name">Panderword</p>
                    <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                </div>
            </div>
            <div class="weekly-canvas-item">
                <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                <div class="mark-weekly-canvas">
                    <p class="mark-weekly-view">8k</p>
                    <p class="mark-weekly-genres">Fantasy</p>
                    <p class="weekly-canvas-name">Panderword</p>
                    <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                </div>
            </div>
            <div class="weekly-canvas-item">
                <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                <div class="mark-weekly-canvas">
                    <p class="mark-weekly-view">8k</p>
                    <p class="mark-weekly-genres">Fantasy</p>
                    <p class="weekly-canvas-name">Panderword</p>
                    <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                </div>
            </div>
            <div class="weekly-canvas-item">
                <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                <div class="mark-weekly-canvas">
                    <p class="mark-weekly-view">8k</p>
                    <p class="mark-weekly-genres">Fantasy</p>
                    <p class="weekly-canvas-name">Panderword</p>
                    <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                </div>
            </div>
            <div class="weekly-canvas-item">
                <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                <div class="mark-weekly-canvas">
                    <p class="mark-weekly-view">8k</p>
                    <p class="mark-weekly-genres">Fantasy</p>
                    <p class="weekly-canvas-name">Panderword</p>
                    <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                </div>
            </div>
        </div>
        <div class="menu-Popular-Canvas">
            <h2>Popular By Genre | </h2>
            <a href="#">COMEDY</a>
            <a href="#">FANTASY</a>
            <a href="#"> ROMANCE</a>
            <a href="#"> SLICE OF LIFE</a>
            <a href="#"> SCI-FI</a>
            <a href="#"> COMEDY</a>
            <a href="#"> DRAMA</a>
            <a href="#">OTHERS</a>
        </div>
        <div class="popular-canvas">
            <div class="weekly-canvas">
                <div class="weekly-canvas-item">
                    <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                    <div class="mark-weekly-canvas">
                        <p class="mark-weekly-view">8k</p>
                        <p class="mark-weekly-genres">Fantasy</p>
                        <p class="weekly-canvas-name">Panderword</p>
                        <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                    </div>
                </div>
                <div class="weekly-canvas-item">
                    <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                    <div class="mark-weekly-canvas">
                        <p class="mark-weekly-view">8k</p>
                        <p class="mark-weekly-genres">Fantasy</p>
                        <p class="weekly-canvas-name">Panderword</p>
                        <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                    </div>
                </div>
                <div class="weekly-canvas-item">
                    <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                    <div class="mark-weekly-canvas">
                        <p class="mark-weekly-view">8k</p>
                        <p class="mark-weekly-genres">Fantasy</p>
                        <p class="weekly-canvas-name">Panderword</p>
                        <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                    </div>
                </div>
                <div class="weekly-canvas-item">
                    <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                    <div class="mark-weekly-canvas">
                        <p class="mark-weekly-view">8k</p>
                        <p class="mark-weekly-genres">Fantasy</p>
                        <p class="weekly-canvas-name">Panderword</p>
                        <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                    </div>
                </div>
                <div class="weekly-canvas-item">
                    <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                    <div class="mark-weekly-canvas">
                        <p class="mark-weekly-view">8k</p>
                        <p class="mark-weekly-genres">Fantasy</p>
                        <p class="weekly-canvas-name">Panderword</p>
                        <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                    </div>
                </div>
                <div class="weekly-canvas-item">
                    <img class="weekly-canvas-img" src="upload/07_EB8298EC9DB4ED8AB8EB9FB0.jpg" width="100%" height="145px" alt="">
                    <div class="mark-weekly-canvas">
                        <p class="mark-weekly-view">8k</p>
                        <p class="mark-weekly-genres">Fantasy</p>
                        <p class="weekly-canvas-name">Panderword</p>
                        <p class="total-view-canvas"><i class="fas fa-heart-broken"></i> 3.2M</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end-body-->
    <!--start-footer-->
    <div class="footer-Original">
        <div class="notice">
            <p>Notice > WEBTOON's Beta Creator Credit for<span> DecemberJan 30, 2020</span></p>
        </div>
        <div class="download-Original">
            <h3>Download WEBTOON now!</h3>
            <div class="box-Download">
                <a href="#"><img src="https://www.homecredit.vn/app/webroot/img/app_badge/google-play-badge-EN.png" width="138px" height="39px" alt=""></a>
                <a href="#"><img src="https://deo.shopeemobile.com/shopee/shopee-appdlpage-live-vn/static/img/appleStore.0ca159be.png"
                                 alt="" width="138px" height="39px"></a>
            </div>
        </div>
        <div class="end-Footer">
            <div class="end-Footer-Icon">
                <span><i class="fab fa-facebook-f"></i></span>
                <span><i class="fab fa-instagram"></i></span>
                <span><i class="fab fa-twitter"></i></span>
                <span><i class="fab fa-youtube"></i></span>
            </div>
            <div class="end-Footer-Menu">
                <ul>
                    <li><a href="">About |</a></li>
                    <li><a href="">Feedback |</a></li>
                    <li><a href="">Terms |</a></li>
                    <li><a href="">Help |</a></li>
                    <li><a href="">Privacy |</a></li>
                </ul>
            </div>
            <div class="end-Footer-Logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Naver_Line_Webtoon_logo.png"
                     alt="" width="90px" height="90px">
            </div>
        </div>
    </div>
    <!--end-start-->
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
<script src="Js/Jquery.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    function btn_Home() {
       var btn_Home = document.getElementById('btn_Home');
        document.getElementById('dad_btn_Home').style.background = '#00d564';
        btn_Home.style.color = '#FFFFFF';
    }
</script>
</html>