<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBTOON-the official home for all things WEBTOON</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="wrap">
        <!--start-header-->
        <div class="header-Detail-Chap" id="header-Detail-Chap">
            <div class="header-Detail-Chap-Logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Naver_Line_Webtoon_logo.png" width="40px" height="40px"
                     alt="" >
                <h2>ON Angel Blue  >  Chapter 3 Part 7</h2>
            </div>
            <div class="header-Detail-Chap-nextChap">
                <div class="header-Detail-Chap-nextChap-Item">
                    <a href="#"><i class="fas fa-caret-left"></i></a>
                    <span>#24</span>
                    <a href="#"><i class="fas fa-caret-right"></i></a>
                </div>
            </div>
            <div class="header-Detail-Chap-icon">
                <div class="header-Detail-Chap-icon-item">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-tumblr"></i></a>
                    <a href="#"><i class="fas fa-copy"></i></a>
                </div>
            </div>
        </div>
        <!--end-header-->
        <!--start-body-->
        <div class="body-Detail-Chap">
            <div class="body-Detail-Chap-content">
                <div class="body-Detail-Chap-content-item">
                    <img src="./upload/detail/15271565457984011700.jpg" alt="">
                    <img src="./upload/Detail-chap/chap1.jpg" alt="">
                    <img src="./upload/Detail-chap/chap2.jpg" alt="">
                    <img src="./upload/Detail-chap/chap3.jpg" alt="">
                    <img src="./upload/Detail-chap/chap4.jpg" alt="">
                    <img src="./upload/Detail-chap/chap5.jpg" alt="">
                    <img src="./upload/Detail-chap/chap6.jpg" alt="">
                    <img src="./upload/Detail-chap/chap7.jpg" alt="">
                    <img src="./upload/Detail-chap/chap8.jpg" alt="">
                    <img src="./upload/Detail-chap/15265192735314011699.jpg" alt="">
                    <img src="./upload/Detail-chap/chap10.jpg" alt="">
                    <img src="./upload/Detail-chap/chap11.jpg" alt="">
                    <img src="./upload/Detail-chap/chap12.jpg" alt="">
                    <img src="./upload/Detail-chap/chap13.jpg" alt="">
                    <img src="./upload/Detail-chap/chap14.jpg" alt="">
                    <img src="./upload/Detail-chap/chap15.jpg" alt="">
                    <img src="./upload/Detail-chap/chap16.jpg" alt="">
                    <img src="./upload/Detail-chap/chap9.jpg" alt="">
                </div>
            </div>
            <div class="body-Detail-Chap-contact">
                <p><span>UP</span> EVERY SATURDAY</p>
                <p>Share this series</p>
                <p>and show support for the creator!</p>
                <div class="body-Detail-Chap-contact-icon">
                    <a href="#" id="sub-detail-chap" >+ Subcribe</a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-tumblr"></i></a>
                    <a href="#"><i class="fab fa-reddit-alien"></i></a>
                    <a href="#"><i class="fas fa-copy"></i></a>
                    <a href="#"><i class="fas fa-wifi"></i></a>
                </div>
            </div>
        </div>
        <!--end-body-->
        <!--start-footer-->
        <div class="footer-Original">
            <div class="notice">
                <p>Notice > WEBTOON's Beta Creator Credit for<span> DecemberJan 30, 2020</span></p>
            </div>
            <div class="download-Original">
                <h3>Download WEBTOON now!</h3>
                <div class="box-Download">
                    <a href="#"><img src="https://www.homecredit.vn/app/webroot/img/app_badge/google-play-badge-EN.png" width="138px" height="39px" alt=""></a>
                    <a href="#"><img src="https://deo.shopeemobile.com/shopee/shopee-appdlpage-live-vn/static/img/appleStore.0ca159be.png"
                                     alt="" width="138px" height="39px"></a>
                </div>
            </div>
            <div class="end-Footer">
                <div class="end-Footer-Icon">
                    <span><i class="fab fa-facebook-f"></i></span>
                    <span><i class="fab fa-instagram"></i></span>
                    <span><i class="fab fa-twitter"></i></span>
                    <span><i class="fab fa-youtube"></i></span>
                </div>
                <div class="end-Footer-Menu">
                    <ul>
                        <li><a href="">About |</a></li>
                        <li><a href="">Feedback |</a></li>
                        <li><a href="">Terms |</a></li>
                        <li><a href="">Help |</a></li>
                        <li><a href="">Privacy |</a></li>
                    </ul>
                </div>
                <div class="end-Footer-Logo">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Naver_Line_Webtoon_logo.png"
                         alt="" width="90px" height="90px">
                </div>
            </div>
        </div>
    </div>
</body>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
<script src="Js/Jquery.js"></script>
<script>
    window.onscroll = function() {myFunction()};
    var navbar = document.getElementById("header-Detail-Chap");

    var sticky = navbar.offsetTop;
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

</script>
</html>