<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBTOON-the official home for all things WEBTOON</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
</head>
<body >

<div id="wrap">

    <!--start-header-->
    <header>
        <div class="header">
            <div class="heeader_inner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="logo">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Naver_Line_Webtoon_logo.png" alt=""
                                         width="87px" height="84px">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <ul class="lnb">
                                    <li><a>Originals</a></li>
                                    <li><a>Genres</a></li>
                                    <li><a>Popula</a></li>
                                    <li><a>Canvas</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="lk_creators">
                            <div class="sta">
                                <span class="fa fa-book"></span>
                                <a href="">Creators 101</a>
                                <span> | </span>
                                <a href="" class="publish">Publish</a>
                                <a href="" class="login">Login</a>
                                <span> | </span>
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--start-body-->
    <div class="body-Detail">
        <div class="body-Main-Detail">
            <div class="body-detail-img">
                <img src="upload/bg-detail.png" alt="">
            </div>
            <div class="body-detail-content">
                <div class="body-detail-content-item">
                    <span>Romance</span>
                    <h2>Edith</h2>
                    <a href="#" class="node" id="btn-box">Swansgarden  <i class="fas fa-exclamation"></i></a>
                </div>
            </div>
            <div class="body-detail-icon">
                <div class="detail-icon-item">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-tumblr"></i></a>
                    <a href="#"><i class="fab fa-reddit-alien"></i></a>
                    <a href="#"><i class="fas fa-copy"></i></a>
                    <a href="#"><i class="fas fa-wifi"></i></a>
                    <a href="#" id="sub-detail">+ Subcribe</a>
                </div>
            </div>
        </div>
        <div class="card-detail">
            <div class="card-detail-list-item">
                <div class="card-detail-item">
                    <img src="upload/detail3.png" alt="">
                    <span >Chap Name</span>
                    <span class="date-detail">Date</span>
                    <span class="view-detail">View</span>
                    <span>Rank</span>
                </div>
                <div class="card-detail-item">
                    <img src="upload/detail3.png" alt="">
                    <span >Chap Name</span>
                    <span class="date-detail">Date</span>
                    <span class="view-detail">View</span>
                    <span>Rank</span>
                </div>
                <div class="card-detail-item">
                    <img src="upload/detail3.png" alt="">
                    <span >Chap Name</span>
                    <span class="date-detail">Date</span>
                    <span class="view-detail">View</span>
                    <span>Rank</span>
                </div>
                <div class="card-detail-item">
                    <img src="upload/detail3.png" alt="">
                    <span >Chap Name</span>
                    <span class="date-detail">Date</span>
                    <span class="view-detail">View</span>
                    <span>Rank</span>
                </div>
            </div>
            <div class="card-detail-intro">
                <span><i class="fas fa-star"></i></span><a href="#">RATE</a>
                <h3>UP  EVERY MONDAY</h3>
                <p>Edith is not your typical heroine. She struggles with her confidence, her morals, and life in general by not only holding herself to high standards, but her men as well. Enter two less-than-perfect men: one who may be the Prince Charming she’s been waiting for to deliver a fairy tale ending, the other a brash reality check who does NOT believe in happily-ever-after. What will Edith do? Will she sacrifice her standards? Or keep searching for that mythical white knight who may or may not exist in the first place? Funny, messy and sexy, Edith’s journey is relatable to anyone who’s ever left their heart on the battlefield of the dating world.</p>
                <a href="#" id="episode-detail">First episode</a>
                <img src="upload/detail4.jpg" alt="">
            </div>
        </div>
    </div>
    <!--end-body-->

    <div class="relate-detail">
        <div class="relate-detail-title">
            <h3>Readers also enjoyed</h3>
            <h3>Creator's Pick! <span>Swansgarden</span></h3>
            <h3>Similar <span>genres Romance</span></h3>
        </div>
        <div class="relate-detail-list">
            <div class="CompletedSeries-item relate-detail-list-item">
                <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                <div class="markCompleted">
                    <p class="name-Com">Athena Complex</p>
                    <p class="name1-Com">Kaisar</p>
                    <span class="status">End</span>
                    <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                </div>
            </div>
            <div class="CompletedSeries-item relate-detail-list-item">
                <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                <div class="markCompleted">
                    <p class="name-Com">Athena Complex</p>
                    <p class="name1-Com">Kaisar</p>
                    <span class="status">End</span>
                    <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                </div>
            </div>
            <div class="CompletedSeries-item relate-detail-list-item">
                <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                <div class="markCompleted">
                    <p class="name-Com">Athena Complex</p>
                    <p class="name1-Com">Kaisar</p>
                    <span class="status">End</span>
                    <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                </div>
            </div>
            <div class="CompletedSeries-item relate-detail-list-item">
                <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                <div class="markCompleted">
                    <p class="name-Com">Athena Complex</p>
                    <p class="name1-Com">Kaisar</p>
                    <span class="status">End</span>
                    <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                </div>
            </div>
            <div class="CompletedSeries-item relate-detail-list-item">
                <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                <div class="markCompleted">
                    <p class="name-Com">Athena Complex</p>
                    <p class="name1-Com">Kaisar</p>
                    <span class="status">End</span>
                    <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                </div>
            </div>
            <div class="CompletedSeries-item relate-detail-list-item">
                <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                <div class="markCompleted">
                    <p class="name-Com">Athena Complex</p>
                    <p class="name1-Com">Kaisar</p>
                    <span class="status">End</span>
                    <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                </div>
            </div>
        </div>
    </div>
    <!--start-footer-->
    <div class="footer-Original">
        <div class="notice">
            <p>Notice > WEBTOON's Beta Creator Credit for<span> DecemberJan 30, 2020</span></p>
        </div>
        <div class="download-Original">
            <h3>Download WEBTOON now!</h3>
            <div class="box-Download">
                <a href="#"><img src="https://www.homecredit.vn/app/webroot/img/app_badge/google-play-badge-EN.png" width="138px" height="39px" alt=""></a>
                <a href="#"><img src="https://deo.shopeemobile.com/shopee/shopee-appdlpage-live-vn/static/img/appleStore.0ca159be.png"
                                 alt="" width="138px" height="39px"></a>
            </div>
        </div>
        <div class="end-Footer">
            <div class="end-Footer-Icon">
                <span><i class="fab fa-facebook-f"></i></span>
                <span><i class="fab fa-instagram"></i></span>
                <span><i class="fab fa-twitter"></i></span>
                <span><i class="fab fa-youtube"></i></span>
            </div>
            <div class="end-Footer-Menu">
                <ul>
                    <li><a href="">About |</a></li>
                    <li><a href="">Feedback |</a></li>
                    <li><a href="">Terms |</a></li>
                    <li><a href="">Help |</a></li>
                    <li><a href="">Privacy |</a></li>
                </ul>
            </div>
            <div class="end-Footer-Logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Naver_Line_Webtoon_logo.png"
                     alt="" width="90px" height="90px">
            </div>
        </div>
    </div>
    <!--end-start-->
</div>
    <div class="box-both">
        <div class="box-both-top">
            <div class="btn_Hidden"><i class="fas fa-window-close"></i></div>
            <h4>About the creator</h4>
            <span>Jjolee</span>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-tumblr"></i></a>
            <a href="#"><i class="fab fa-reddit-alien"></i></a>
            <a href="#"><i class="fas fa-copy"></i></a>
            <a href="#"><i class="fas fa-wifi"></i></a>
            <p>jjolee is trying her best</p>
        </div>
        <div class="box-both-bottom">
            <h4>Work</h4>
            <div class="box-both-bottom-list">
                <a href="#">
                    <div class="box-both-bottom-item">
                        <img src="upload/10_EC8DB8EB84A4EC9DBC_ipad%20(4).jpg" width="100%" height="100%" alt="">
                        <div class="box-both-bottom-item-content">
                            <p>Lost in Translation</p>
                            <span>Drama</span>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="box-both-bottom-item">
                        <img src="upload/10_EC8DB8EB84A4EC9DBC_ipad%20(4).jpg" width="100%" height="100%" alt="">
                        <div class="box-both-bottom-item-content">
                            <p>Lost in Translation</p>
                            <span>Drama</span>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="box-both-bottom-item">
                        <img src="upload/10_EC8DB8EB84A4EC9DBC_ipad%20(4).jpg" width="100%" height="100%" alt="">
                        <div class="box-both-bottom-item-content">
                            <p>Lost in Translation</p>
                            <span>Drama</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
<div class="white-both ">

</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var node = document.querySelectorAll('.node');
        var box_both = document.querySelector('.box-both');
        var white_Show = document.querySelector('.white-both');
                for ( var i = 0; i < node.length; i ++) {
                    node[i].addEventListener("click", function () {
                    white_Show.classList.add('white-Show');
                    box_both.classList.add('box-Show')
                    })
                }
        var btn_Hidden = document.querySelector('.btn_Hidden');
                btn_Hidden.addEventListener("click", function () {
                    white_Show.classList.remove('white-Show');
                    box_both.classList.remove('box-Show')
                })
                
    }, false)
</script>
</html>