<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBTOON-the official home for all things WEBTOON</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
</head>
<body class="en">
<div id="wrap">
    <!--start-header-->
    <div id="header">
        <div class="header_inner">
            <ul class="lnb">
                <li>
                    <div class="logo">
                        <a href="">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Naver_Line_Webtoon_logo.png"
                                 alt="" >
                        </a>
                    </div>
                </li>
                <li class="m01">
                    <a href="">Originals</a>
                </li>
                <li class="m02">
                    <a href="">Genres</a>
                </li>
                <li class="m03">
                    <a href="">Popular</a>
                </li>
                <li class="m04">
                    <a href="">Canvas</a>
                </li>
            </ul>
        </div>
        <div class="sta">
                <span class="lk_creators on">
                    <a href="" class="fa fa-book">
                        <span style="font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;">Creators
                            101</span>
                    </a>
                </span>
            <a href="#" class="lk_publish" id="btnPublish">Publish</a>
            <a href="#" class="lk_login" id="btnLogin">Log In</a>
            <span class="bar">|</span>
            <span class="btn_search _btnSearch">
                    <a href="#" class="fa fa-search"></a>
                </span>
            <span class="login" id="btnLoginInfo" style="display: none;"></span>
        </div>
    </div>
    <!--end-header-->
    <!--start-ongoing-->
    <div id="navbar">
        <div class="box-icon">
            <a id="btn-Ongoing"
               onclick="this.style.background = '#00d564';
            this.style.color = 'white';
            document.getElementById('btn-Complete').style.background = 'none';
            document.getElementById('btn-Complete').style.color = 'black';
            "
               href="#body-Ongoing">ONGOING</a>
            <a id="btn-Complete" onclick="this.style.background = '#00d564';
            this.style.color = 'white';
            document.getElementById('btn-Ongoing').style.background = 'none';
            document.getElementById('btn-Ongoing').style.color = 'black';
            "

               href="#body-Complete">COMPLETED</a>
            <a id="navbar-a" href="javascript:void(0)">by Popularity</a>
        </div>

    </div>
    <!--end-ongoing-->
    <!--start-body-->
    <div class="body-total-Ongoing">
        <h2 class="h2-Ongoing" id="body-Ongoing">Ongoing Series</h2>
        <div class="body-Original" >
            <div class="ongoingSeries ongoingSeries-MON">
                <h3 class="btn-gr btn-MON">MON</h3>
                <a href="#" style="color: black">
                    <div class="ongoingSeries-item ongoingSeries-item-MON">
                        <div class="mark-Ongoing MON-before" >
                            <p>Let's Play</p>
                            <span>Romance</span>
                        </div>
                        <div class="mark-Ongoing-after MON-after" >
                            <p class="genres-Com">Fantasy</p>
                            <p class="name-Com">Athena Complex</p>
                            <p class="name1-Com">Kaisar</p>
                            <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                        </div>
                        <img class="img-Ongoing" src="upload/01_EAB3A8EBB0A9ED9998EC8381EAB3A1.jpg" width="153px" height="153px" alt="">
                    </div>
                </a>
                <div class="ongoingSeries-item ongoingSeries-item-MON">
                    <div class="mark-Ongoing MON-before" >
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after MON-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="upload/02_EB82B4EC96B4EBA6B0EAB3A0EC9691EC9DB4EC9980EB8A99EC9.jpg" width="153px" height="153px" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-MON">
                    <div class="mark-Ongoing MON-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after MON-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="upload/03_cherng_thumb_pad.jpg" width="153px" height="153px" alt="">
                </div>
            </div>
            <div class="ongoingSeries ongoingSeries-TUE">
                <h3 class="btn-gr btn-TUE">TUE</h3>
                <div class="ongoingSeries-item ongoingSeries-item-TUE">
                    <div class="mark-Ongoing TUE-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after TUE-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="upload/2.jpg" width="153px" height="153px" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-TUE">
                    <div class="mark-Ongoing TUE-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after TUE-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="upload/08_EBA788EC88A0EC82AC.jpg" width="153px" height="153px" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-TUE">
                    <div class="mark-Ongoing TUE-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after TUE-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
            </div>
            <div class="ongoingSeries ongoingSeries-WED">
                <h3 class="btn-gr btn-WED">WED</h3>
                <div class="ongoingSeries-item ongoingSeries-item-WED ">
                    <div class="mark-Ongoing WED-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after WED-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-WED">
                    <div class="mark-Ongoing WED-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after WED-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-WED">
                    <div class="mark-Ongoing WED-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after WED-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
            </div>
            <div class="ongoingSeries ongoingSeries-THU">
                <h3 class="btn-gr btn-THU">THU</h3>
                <div class="ongoingSeries-item ongoingSeries-item-THU">
                    <div class="mark-Ongoing THU-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after THU-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-THU">
                    <div class="mark-Ongoing THU-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after THU-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-THU">
                    <div class="mark-Ongoing THU-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after THU-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
            </div>
            <div class="ongoingSeries ongoingSeries-FRI">
                <h3 class="btn-gr btn-FRI">FRI</h3>
                <div class="ongoingSeries-item ongoingSeries-item-FRI">
                    <div class="mark-Ongoing FRI-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after FRI-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-FRI">
                    <div class="mark-Ongoing FRI-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after FRI-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-FRI">
                    <div class="mark-Ongoing FRI-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after FRI-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
            </div>
            <div class="ongoingSeries ongoingSeries-SAT">
                <h3 CLASS="btn-gr btn-SAT">SAT</h3>
                <div class="ongoingSeries-item ongoingSeries-item-SAT">
                    <div class="mark-Ongoing SAT-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after SAT-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-SAT">
                    <div class="mark-Ongoing SAT-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after SAT-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-SAT">
                    <div class="mark-Ongoing SAT-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after SAT-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
            </div>
            <div class="ongoingSeries ongoingSeries-SUN">
                <h3 class="btn-gr btn-SUN">SUN</h3>
                <div class="ongoingSeries-item ongoingSeries-item-SUN">
                    <div class="mark-Ongoing SUN-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after SUN-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-SUN">
                    <div class="mark-Ongoing SUN-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after SUN-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
                <div class="ongoingSeries-item ongoingSeries-item-SUN">
                    <div class="mark-Ongoing SUN-before">
                        <p>Let's Play</p>
                        <span>Romance</span>
                    </div>
                    <div class="mark-Ongoing-after SUN-after">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                    <img class="img-Ongoing" src="https://webtoon-phinf.pstatic.net/20140710_63/1404980105173DcuB8_JPEG/12_EC96B8EB8D94ED9484EBA6B0.jpg?type=a138" width="100%" height="100%" alt="">
                </div>
            </div>
        </div>
        <h2 class="h2-Ongoing" id="body-Complete">Completed Series</h2>
        <div class="body-CompletedSeries" >
            <div class="completedSeries">
                <div class="CompletedSeries-item">
                    <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                    <div class="markCompleted">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <span class="status">End</span>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                </div>
                <div class="CompletedSeries-item">
                    <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                    <div class="markCompleted">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <span class="status">End</span>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                </div>
            </div>
            <div class="completedSeries">
                <div class="CompletedSeries-item">
                    <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                    <div class="markCompleted">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <span class="status">End</span>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                </div>
                <div class="CompletedSeries-item">
                    <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                    <div class="markCompleted">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <span class="status">End</span>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                </div>
            </div>
            <div class="completedSeries">
                <div class="CompletedSeries-item">
                    <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                    <div class="markCompleted">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <span class="status">End</span>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                </div>
                <div class="CompletedSeries-item">
                    <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                    <div class="markCompleted">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <span class="status">End</span>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                </div>
            </div>
            <div class="completedSeries">
                <div class="CompletedSeries-item">
                    <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                    <div class="markCompleted">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <span class="status">End</span>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                </div>
                <div class="CompletedSeries-item">
                    <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                    <div class="markCompleted">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <span class="status">End</span>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                </div>
            </div>
            <div class="completedSeries">
                <div class="CompletedSeries-item">
                    <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                    <div class="markCompleted">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <span class="status">End</span>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                </div>
                <div class="CompletedSeries-item">
                    <img class="img-Com" src="https://webtoon-phinf.pstatic.net/20140613_152/1402628483809osrsd_JPEG/27_EC868CEC9AB8ECB9B4EBA5B4ED8594.jpg?type=a138" alt="">
                    <div class="markCompleted">
                        <p class="genres-Com">Fantasy</p>
                        <p class="name-Com">Athena Complex</p>
                        <p class="name1-Com">Kaisar</p>
                        <span class="status">End</span>
                        <p class="icon-Com"><i class="fas fa-heart-broken"></i> 1.7M</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end-body-->
    <!--start-footer-->
    <div class="footer-Original">
        <div class="notice">
            <p>Notice > WEBTOON's Beta Creator Credit for<span> DecemberJan 30, 2020</span></p>
        </div>
        <div class="download-Original">
            <h3>Download WEBTOON now!</h3>
            <div class="box-Download">
                <a href="#"><img src="https://www.homecredit.vn/app/webroot/img/app_badge/google-play-badge-EN.png" width="138px" height="39px" alt=""></a>
                <a href="#"><img src="https://deo.shopeemobile.com/shopee/shopee-appdlpage-live-vn/static/img/appleStore.0ca159be.png"
                     alt="" width="138px" height="39px"></a>
            </div>
        </div>
        <div class="end-Footer">
            <div class="end-Footer-Icon">
                <span><i class="fab fa-facebook-f"></i></span>
                <span><i class="fab fa-instagram"></i></span>
                <span><i class="fab fa-twitter"></i></span>
                <span><i class="fab fa-youtube"></i></span>
            </div>
            <div class="end-Footer-Menu">
                <ul>
                    <li><a href="">About |</a></li>
                    <li><a href="">Feedback |</a></li>
                    <li><a href="">Terms |</a></li>
                    <li><a href="">Help |</a></li>
                    <li><a href="">Privacy |</a></li>
                </ul>
            </div>
            <div class="end-Footer-Logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Naver_Line_Webtoon_logo.png"
                     alt="" width="90px" height="90px">
            </div>
        </div>
    </div>
    <!--end-start-->
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
<script src="Js/Jquery.js"></script>
<script>
    window.onscroll = function() {myFunction()};
    var navbar = document.getElementById("navbar");

    var sticky = navbar.offsetTop;
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

</script>
</html>