* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, input, textarea, select, button, table {
    font-size: 12px;
    font-family: 'hind','simhei',verdana,Helvetica,sans-serif;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
html, body {
    height: 100%;
}
body {
    display: block;
}
#wrap {
    min-width: 1240px;
}

/* header */
.header {
    clear: both;
}
.logo img {
    margin-left: 20px;
}
.lnb {
    position: absolute;
    left: 100px;
    top: 0px;
}
.lnb li {
    margin: 0px;
    padding: 0px;
}
.lnb li {
    list-style: none;
    float: left;
}
.lnb li a {
    line-height: 22px;
    padding: 30px 30px 10px 10px;
    display: block;
    font-size: 20px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    cursor: pointer;
}
.lk_creators .sta {
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    letter-spacing: -0.2px;
    font-size: 18px;
}
.lk_creators {
    position: absolute;
    top: 29px;
    right: 50px;
}
.sta a {
    color: black;
    list-style: none;
    text-decoration: none;
}
.sta .publish {
    display: inline-block;
    width: 104px;
    height: 30px;
    border-radius: 17px;
    background: #2f2f2f;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    color: #fff;
}
.sta .login {
    display: inline-block;
    width: 102px;
    height: 30px;
    margin-left: 4px;
    border: 1px solid #b4b4b4;
    border-radius: 17px;
    background: #fff;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    color: #838383;
}
.fa-search {
    width: 33px;
    height: 33px;
    background-position: -320px 0;
}



/* container */

#content {
    position: relative;
}

.main_banner_wrap {
    height: 492px;
    background: #ccc;
}
.main_banner_inner {
    width: 1110px;
    height: 492px;
    margin: 0 auto;
}
.main_banner_big {
    position: relative;
    width: 846px;
    height: 492px;
}
.main_banner_big .pic {
    position: absolute;
    top: 0;
    right: 0;
}
.main_banner_small1 {
    position: absolute;
    top: 38px;
    right: 100px;
    width: 314px;
    height: 208px;
}
.main_banner_small2 {
    position: absolute;
    top: 228px;
    right: 100px;
    width: 280px;
    height: 224px;
}
img {
    vertical-align: top;
}
/* .main_banner_big .num {
    position: absolute;
    left: 26px;
    bottom: 64px;
    font-size: 0;
    z-index: 20;
}
.main_banner_big .num {
    position: absolute;
    left: 26px;
    bottom: 64px;
    font-size: 0;
    z-index: 20;
}
.main_banner_big .ico_pg2 {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    background-position: -260px -910px;
} */

.daily_tab_wrap {
    height: 60px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    font-size: 0;
    background: #f4f4f4;
}
.daily_tab_inner {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    white-space: nowrap;
}
.daily_tab {
    display: inline-block;
    margin-left: 107px;
    vertical-align: middle;
}
.daily_tab li {
    float: left;
}
.daily_tab li .btn_daily {
    width: 120px;
    height: 60px;
    line-height: 62px;
    background: 0;
    font-size: 19px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    text-align: center;
    cursor: pointer;
    color: #000;
    padding: 0 80px 0 0;
}
.daily_tab li a:hover {
    color: #009900;
}
.daily_tab_wrap .bar {
    height: 20px;
    margin-top: -12px;
    vertical-align: middle;
    background: #eaeaea;
}
.bar {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    background: #d6d6d6;
    line-height: 999px;
    vertical-align: top;
}
.daily_tab_wrap .btn_more {
    width: 120px;
    text-align: center;
    font-size: 16px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    line-height: 62px;
    background: 0;
    color: #838383;
    padding: 0px 12px 0px ;
}
.daily_tab_wrap  a {
    text-decoration: none;
}
.main_daily_wrap .card_lst {
    padding-top: 18px;
    padding-bottom: 25px;
}


.card_lst li  {
    background-color: #b4b4b4;
}
.card_lst li {
    float: left;
    position: relative;
    width: 210px;
    height: 210px;
    margin: 0 15px 15px 0;
}
.card_lst .card_item .card_front img {
    width: 220px;
    height: 220px;
}

.card_item {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.card_item .info .grade_area {
    height: 17px;
    margin: 3px 0 0 -1px;
}
/* .card_item .card_front {
    z-index: 10;
    opacity: 1;
}
.card_item .card_front, .card_item .card_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
} */
.card_item .info {
    position: absolute;
    top: 14px;
    left: 18px;
    width: 157px;
    height: 178px;
}
.card_item .info .subj {
    width: 157px;
    font-size: 18px;
    line-height: 18px;
    margin-top: -5px;
    font-weight: normal;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    color: #000;
}
.card_item .info .grade_area {
    height: 17px;
    margin: -16px 0 0 -1px;
}
.grade_area #ico_like3 {
    margin: 0px 2px 0 1px;
}
.grade_num {
    display: inline-block;
    height: 16px;
    margin-left: 3px;
    font-size: 12px;
    line-height: 17px;
    font-family: 'verdana'!important;
    color: #00d564;
    vertical-align: top;
    font-weight: bold;
}
.card_item .genre {
    position: absolute;
    left: 18px;
    bottom: 15px;
    line-height: 12px;
    font-weight: bold;
}
.genre.g_drama {
    color: #00b19a;
}
.genre.g_romance {
    color: #fd337f;
}
.genre.g_slice_of_life {
    color: #9ab710;
}
.genre.g_comedy {
    color: #eea800;
}
.genre {
    font-size: 14px;
}
.card_item .grade_area .fa {
    bottom: 15px;
    line-height: 16px;
    color: #00d564;
    font-size: 12px;
}
.genre .g_drama {
    color: #00b19a;
}
.card_item .card_back.g_drama {
    background: #00b19a;
}
.card_item .card_back {
    opacity: 0;
}
.card_lst li .card_multi {
    width: 435px;
}
.card_lst li .card_multi img {
    width: 435px;
}
.card_lst li {
    float: left;
    position: relative;
    width: 210px;
    height: 210px;
    margin: 0 15px 15px 0;
}
.card_lst li.card_multi .subj {
    width: auto;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    color: #fff;
}
.card_multi .card_item .info .grade_area {
    height: 17px;
    margin: 5px 0 0 -1px;
}


/* New */
.main_hotnew_wrap {
    border-top: 1px solid #e5e5e5;
    background: #f4f4f4;
    clear: both;
}
.main_hotnew h2 {
    padding-top: 36px;
    height: 45px;
    text-align: center;
    font-size: 22px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    color: #000;
    line-height: 24px;
    font-weight: bold;
}
.main_hotnew_rolling {
    position: relative;
    overflow: hidden;
    width: 1140px;
    margin: 0 auto;
}
.eg-flick-viewport {
    position: relative;
    z-index: 2000;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    touch-action: pan-y;
    user-select: none;
    height: 225px;
    -webkit-user-drag: none;
}
.eg-flick-camera {
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: translate3d(0px, 0px, 0px);
}
.eg-flick-panel {
    position: absolute;
    left: 0px;
}
.card_lst {
    width: 1125px;
    margin: 0 auto;
    padding-left: 15px;
}
.card_lst li {
    float: left;
    position: relative;
    width: 210px;
    height: 210px;
    margin: 0 15px 15px 0;
}
.card_item .card_front {
    z-index: 10;
    opacity: 1;
}
.main_hotnew .card_item .card_front img {
    width: 210px;
    height: 210px;
}
.card_item .card_front, .card_item .card_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.card_item .info {
    position: absolute;
    top: 14px;
    left: 18px;
    width: 157px;
    height: 178px;
}
.card-front .info .subj {
    width: 157px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 5px;
    font-weight: normal;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
}
.card_multi .card_flipper .card_front img {
    width : 435px;
    height : 210px;
}
.card_item .info .grade_area {
    height: 17px;
    margin: 3px 0 0 -1px;
}
.grade_area .ico_like3 {
    margin: 4px 2px 0 1px;
}
.grade_num {
    display: inline-block;
    height: 16px;
    margin-left: 3px;
    font-size: 14px;
    line-height: 17px;
    font-family: 'verdana'!important;
    color: #00d564;
    vertical-align: top;
}
.genre.g_fantasy {
    color: #8b00e9;
}
.genre.g_drama {
    color: #00b19a;
}
.genre.g_heartwarming {
    color: #fd6900;
}
em, address {
    font-style: normal;
}
.card_item .info .icon_area span {
    margin-right: 3px;
}
.txt_ico_new {
    width: 30px;
    height: 30px;
    background-position: 0 0;
}
[class^=txt_] {
    display: inline-block;
    overflow: hidden;
    background: url(https://webtoons-static.pstatic.net/image/pc/spi_en_v6.png?dt=2019110601) no-repeat;
    line-height: 999px;
    vertical-align: top;
}

/* genres */
.main_genre_wrap {
    background: #f4f4f4;
    border-top: 1px solid #e5e5e5;
    clear: both;
}
.main_genre {
    position: relative;
    width: 1200px;
    height: 566px;
    margin: 0 auto;
}
.main_genre_wrap {
    background: #f4f4f4;
    border-top: 1px solid #e5e5e5;
}
.main_genre h2 {
    padding-top: 36px;
    height: 45px;
    text-align: center;
    font-size: 22px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    color: #000;
    line-height: 24px;
    font-weight: normal;
}
a {
    color: #000;
    text-decoration: none;
}
.card_lst {
    width: 1125px;
    margin: 0 auto;
    padding-left: 15px;
}
.card_lst li {
    float: left;
    position: relative;
    width: 210px;
    height: 210px;
    margin: 0 15px 15px 0;
}
.card_item {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.card_lst li {
    float: left;
    position: relative;
    width: 210px;
    height: 210px;
    margin: 0 15px 15px 0;
}

.card_item .card_back .info {
    overflow: hidden;
    color: #fff;
}
.card_item .genre {
    position: absolute;
    left: 18px;
    bottom: 15px;
    line-height: 16px;
}
.card_item .info {
    position: absolute;
    top: 14px;
    left: 18px;
    width: 157px;
    height: 178px;
}
.genre {
    font-size: 14px;
}
.main_genre .card_item .card_back .info.genre strong {
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 25px;
    font-weight: normal;
}
em, address {
    font-style: normal;
}
.main_genre .card_item .card_back .info.genre .dsc {
    position: absolute;
    bottom: 0;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.main_genre .card_item .card_back .info.genre {
    top: 21px;
    left: 21px;
    width: 168px;
    height: 169px;
}
.card_item .card_back .info {
    overflow: hidden;
    color: #fff;
}
.card_item .genre {
    position: absolute;
    left: 18px;
    bottom: 15px;
    line-height: 16px;
}
.card_item .card_back.g_sf {
    background: #2d4464;
}
.card_item .card_back.g_thriller {
    background: #c00355;
}
.main_genre .card_item .card_back {
    opacity: 1;
}


.product-lst {
    text-align: center;
}
.product-lst img {
    width: 162px;
    height: 162px;
}
/* .chanllenge {
    font-size: 35px;
    color: #00d564;
    padding-left: 30px;
}
.main_chanllenge p {
    margin: 10px 0 0 1px;
    font-size: 15px;
    line-height: 21px;
    padding-left: 30px;
} */

/* ranking */
.ranking_lst.main {
    padding: 53px 0 70px;
}
.ranking_lst {
    overflow: hidden;
    width: 1110px;
    margin: 0 auto;
}
.ranking_lst .left_area{
    float: left;
    width: 50%;
}
.ranking_lst .right_area  {
    float: left;
    width:  50%;
}
.ranking_lst .title_area {
    position: relative;
    height: 35px;
}
.ranking_lst .title_area h2 a, .ranking_lst .title_area h2 span {
    display: inline-block;
    border: 1px solid transparent;
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    vertical-align: top;
}
.ranking_lst .title_area .sort_area {
    position: absolute;
    top: 2px;
    right: 0;
    padding-right: 12px;
}
.ranking_lst .title_area .sort_area .checked {
    position: relative;
    display: inline-block;
    padding-right: 24px;
    color: #767676;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    color: #838383;
}
.lst_type1 {
    border-bottom: 1px solid #ddd;
}
.lst_type1 .info_area {
    height: 98px;
    padding: 0 80px 0 115px;
}
.lst_type1 li {
    position: relative;
    border-top: 1px solid #ddd;
}
.lst_type1 a {
    display: block;
    cursor: pointer;
}
.lst_type1 .pic_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 92px;
    height: 98px;
}
.lst_type1 .info_area {
    height: 98px;
    padding: 0 80px 0 115px;
}
.lst_type1 .num_ranking {
    position: absolute;
    left: 5px;
    z-index: 10;
}
.ico_n1 {
    width: 16px;
    height: 24px;
    background-position: -80px -600px;
    color: #f4f4f4;
    font-size: 20px;
    font-weight: bold;
}
img {
    vertical-align: top;
}
.lst_type1 .info_area .genre {
    padding-top: 22px;
    font-size: 13px;
    line-height: 15px;
}
.lst_type1 .info_area .subj {
    overflow: hidden;
    padding-top: 3px;
    font-size: 18px;
    line-height: 21px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lst_type1 .info_area .author {
    font-size: 13px;
    line-height: 15px;
}
.genre.g_slice_of_life {
    color: #9ab710;
}
.ranking_lst .left_area .title_area,
.ranking_lst .left_area .lst_type1 {
    margin-right: 30px;
}
/* footer */
.foot_app {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    padding-top: 10px;
}
.foot_cont {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}
.foot_app .foot_cont .ico_qrcode {
    font-weight: 700;
    font-size: 15px;
}
.dowload {
    padding-top: 20px;
}
.foot_app .foot_sns .fa {
    font-size: 30px;
    padding: 20px 10px 10px 10px;
}
.foot_app .foot_menu ul {
    margin: 0px;
    padding: 0px;
}
.foot_app .foot_menu ul li {
    list-style: none;
    float: left;
}
.foot_app .foot_menu ul li a {
    text-decoration: none;
    display: block;
    padding: 0px 15px 0px 10px;
    font-size: 13px;
}

.foot_menu {
    position: relative;
    padding-top: 10px;
    text-align: center;
}
.foot_cont img {
    width: 138px;
    height: 41px;
}

/*end-index*/
    /*start-ongoing*/

    /*start-header-ongoing*/

.header-ongoing {
    border-top: 1px solid #eaeaea;
    min-height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.box-icon-canvas {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 115px;
    overflow: hidden;
    min-height: 70px;
}
.box-icon-canvas li {
    line-height: 70px;
    height: 70px;
    padding: 0 15px;
}
.box-icon-canvas li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    height: 100%;
}
.box-icon {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-Com {
    color: #00d564; !important;
}

#navbar {
    clear: both;
    max-height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #eaeaea;
    background-color: white;
}
#navbar .box-icon a:hover {
    text-decoration: none;
    color: #00d564;
}
#navbar .box-icon a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 40px;
}
#navbar-a {
    position: absolute;
    top: 0;
    right: 5%;
    font-weight: 100;
}
    /*end-header-ongoing*/
    /*start-Ongoing Series*/
.body-total-Ongoing {
    background-color: #f5f5f5;
    padding: 15px 0;
}
.body-Original {
    padding: 0 72px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eaeaea;
    clear: both;
}
.h2-Ongoing {
    margin: 40px 0 15px 72px;
    font-size: 20px;
}
.ongoingSeries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ongoingSeries h3 {
    text-align: center;
    margin-bottom: 20px;

}
.ongoingSeries-item {
    border: 0.5px solid #dbdbdb;
    position: relative;
    width: 153px;
    height: 153px;
    background-color: #FFFFFF;
}
.btn-gr:active {
    color: white;
}
.btn-gr:hover {
    cursor: pointer;
}
.img-Ongoing {
    position: absolute;
    right: 0;
    bottom: 0;
}
.mark-Ongoing {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.mark-Ongoing p {
    position: absolute;
    top: 4%;
    left: 5%;
    font-weight: bold;
}
.mark-Ongoing .status {
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    border: 1px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #00d564;
}
.mark-Ongoing span {
    position: absolute;
    bottom: 4%;
    left: 5%;
    color: #fd74a8;
}
.mark-Ongoing-after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
.mark-Ongoing-after p {
    font-size: 13px;
    margin: 5px 10px;
}
.mark-Ongoing-after .genres-Com {
    color: pink;
    font-weight: 700;
}
.mark-Ongoing-after .name-Com {
    font-size: 15px;
    font-weight: bold;
}
.mark-Ongoing-after .name1-Com {

}
.mark-Ongoing-after .status {
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    border: 1px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #00d564;
}

    /*end-Ongoing Series*/
    /*start-Completed Series*/
.body-CompletedSeries {
    padding: 0 72px;
    display: flex;
    justify-content: space-around;
}
.completedSeries {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.CompletedSeries-item {
    border: 1px solid #f5f5f5;
    position: relative;
    width: 230px;
    height: 153px;
    background-color: white;
    margin-top: 10px;
}
.CompletedSeries-item .markCompleted {
    position: absolute;
    top: 0;
    left: 0;
}
.CompletedSeries-item .markCompleted p {
    font-size: 13px;
    margin: 5px 10px;
}
.CompletedSeries-item .markCompleted .genres-Com {
    color: pink;
    font-weight: 700;
}
.CompletedSeries-item .markCompleted .name-Com {
    font-size: 15px;
    font-weight: bold;
}
.CompletedSeries-item .markCompleted .name1-Com {

}
.CompletedSeries-item .markCompleted .status {
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    border: 1px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #00d564;
}
.CompletedSeries-item .markCompleted .icon-Com {
    margin-top: 15px;
    color: #00d564;
}
.CompletedSeries-item .img-Com {
    position: absolute;
    right: 0;
    bottom: 0;
}
    /*end-Completed Series*/
    /*start-Footer Origial*/
.footer-Original {
    background-color: #f5f5f5;
}
.notice {
    border: 1px solid #e5e5e5;
}
.notice p {
    margin: 20px 72px;
    display: inline-block;
    font-size: 17px;
}
.notice span {
    font-size: 15px;
    color: #bfb1b1;
}
.download-Original {
    text-align: center;
    border: 1px solid #e5e5e5;
}
.download-Original h3 {
    font-size: 18px;
}
.box-Download {
    margin: 20px;
}
.end-Footer {
    text-align: center;
    margin-top: 50px;
}
.end-Footer-Icon span {
    margin-right: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.box-icon-canvas {
    list-style-type: none;
}
.end-Footer-Menu  {
    margin-top: 30px;
}
.end-Footer-Menu ul li {
    display: inline-block;
    margin-right: 30px;
}
.end-Footer-Menu ul li a {
    color: black;
}
.end-Footer-Menu ul li a:hover {
    text-decoration: none;
}
.end-Footer-Logo {
    margin-top: 20px;
}
    /*end Footer Original*/
    /*end-original*/

    /*start-canvas*/
    /*start-slider*/
.slider-canvas {
    min-height: 465px;
    width: 100%;
    padding-bottom: 40px;
    background: #191919;

}
.RECOMMENDED {
    width: 100%;
    min-height: 90px;
    padding: 0 115px;
}
.RECOMMENDED h2 {
    font-size: 20px;
    color: #01c75d;
    line-height: 90px;
}
.img-canvas {
    width: 220px;
    height: 340px;
}
.main-crs {
    background-image: url("upload/discover_bg.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 115px;
}
.crs {
    position: relative;
    margin-right: 15px;
}
.mark-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}
.mark-canvas-view {
    border: 1px solid #0ea641;
    color: #0ea641;
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.mark-canvas-genres {
    margin-top: 188px;
    color: #d96c1f;
}
.mark-canvas-name {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.mark-canvas-name1 {
    color: white;
    font-size: 17px;
}
.img-canvas {
    opacity: 0.7;
}

    /*end-slider*/
    /*start-body-canvas*/
.body-canvas {
    width: 100%;
}
.weekly-canvas {
    display: flex;
    justify-content: space-between;
    padding: 0 115px;
}
.weekly-canvas-item{
    width: 180px;
    height: 265px;
    position: relative;
    border: 1px solid #e2e2e2;
}
.weekly-canvas-name {
    color: black;
}
.total-view-canvas {
    color: #00d564;
}
.weekly-canvas-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.mark-weekly-canvas {
    padding: 10px 15px;
}
.mark-weekly-view {
    border: 1px solid #0ea641;
    color: #0ea641;
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 120px;
}
.mark-weekly-genres {
    color: #fd4ca7;
}
.weekly-canvas-name {
    font-size: 16px;
}
.menu-Popular-Canvas {
    margin: 70px 0 20px 115px;
}
.menu-Popular-Canvas a {
    margin-right: 20px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.menu-Popular-Canvas a:hover {
    text-decoration: none;
    color: black;
}
.menu-Popular-Canvas h2 {
    display: inline;
    margin-right: 20px;
}
.menu-Popular-Canvas-item {
    display: flex;
    justify-content: space-between;
}
.popular-canvas {
    margin-bottom: 70px;
}
    /*end-body-canvas*/
    /*end-canvas*/
    /*start-detail*/

    /*start-body-detail*/
.body-Detail {
    width: 100%;
    min-height: 1300px;
    background-color: #f5f5f5;
    position: relative;
}
.body-Main-Detail {
    min-height: 320px;
    width: 100%;
    position: relative;
    padding: 20px 100px 90px;
    display: flex;
    justify-content: space-between;
    background-image: url("upload/bg-detail1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.body-detail-img {
    min-height: 240px;
    position: relative;
    width: 380px;
}
.body-detail-img img {
    position: absolute;
    width: 1200px;
    height: 240px;
    z-index: 1;
}
.body-detail-content {
    width: 460px;
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.body-detail-content-item {
    text-align: center;
}
.body-detail-content-item span {
    font-size: 20px;
    color: #fd5287;
}
.body-detail-content-item h2 {
    margin: 10px 0 20px;
    font-size: 50px;
}
.body-detail-content-item a {
    color: black;
    font-size: 20px;

}
.body-detail-content-item a:hover {
    text-decoration: none;
    color: black;
}
.body-detail-content-item a i {
    background-color: black;
    color: whitesmoke;
    width: 20px;
    height: 20px;
    border: 1px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 8px;
}
.body-detail-icon {
    min-height: 240px;
    font-size: 18px;
    position: relative;
    width: 355px;
    z-index: 3;
}
.detail-icon-item {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.body-detail-icon .detail-icon-item a i {
    background-color: black;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px;
    color: whitesmoke;
}
.body-detail-icon .detail-icon-item a {
    background: #FFFFFF;
    color: black;
    border-radius: 30px;
    margin-right: 10px;
}
#sub-detail {
    background-color: black;
    color: whitesmoke;
    font-size: 12px;
    height: 32px;
    width: 80px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
}
.card-detail {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: absolute;
    top: 20%;
    left: 4.5%;
}
.card-detail-list-item {
    border: 1px solid #f5f5f5;
    width: 800px;
    padding: 100px 10px;
}
.card-detail-item {
    width: 780px;
   border: 1px solid #f5f5f5;
}
.card-detail-item:hover {
    background-color: #fbfbfb;
}
.card-detail-item img {
    width: 78px;
    height: 75px;
    margin-right: 10px;
}
.date-detail {
    margin: 0 20px 0 340px;
    color: #bbbbbb;
}
.view-detail {
    margin-right: 40px;
    color: #bbbbbb;

}
.card-detail-intro {
    padding: 50px 45px;
    width: 400px;
    overflow: hidden;

}
.card-detail-intro span {
    color: #00d564;
    font-size: 12px;
    margin-right: 10px;
}
.card-detail-intro a {
    color: whitesmoke;
    background-color: #00d564;
    display: inline-block;
    padding: 8px 20px;
    border: 1px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.card-detail-intro p {
    font-size: 15px;
}
#episode-detail {
    display: block;
    margin: 30px 0 140px;
    background-color: #2f2f2f;
    padding: 15px 0;
}
#episode-detail:hover {
    text-decoration: none;
    color: whitesmoke;
}
.card-detail-intro img {
    float: right;
    transform: scale(1.5);
}

    /*end-body-detail*/
    /*start- relate-detail*/
.relate-detail {
    padding: 0 75px;
    margin: 75px 0;
}
.relate-detail-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.relate-detail-title h3 {
    font-size: 22px;
}
.relate-detail-title h3 span {
    color: #39dc85;
}
.relate-detail-list {
    display: flex;
    justify-content: space-around;
}
.relate-detail-list-item {
    margin-right: 10px;
}
    /*end- relate-detail*/
    /*end-detail*/
    /*start-detail-chap*/
.header-Detail-Chap {
    width: 100%;
    min-height: 40px;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}
.header-Detail-Chap-Logo {
    width: 33%;
    padding: 0 20px;
}
.header-Detail-Chap-Logo h2 {
    display: inline-block;
    font-size: 17px;
    color: whitesmoke;
    margin-left: 20px;
}
.header-Detail-Chap-nextChap {
    min-height: 40px;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-Detail-Chap-nextChap .header-Detail-Chap-nextChap-Item a {
    font-size: 25px;
    padding: 5px 15px;
    color: whitesmoke;
    border: 2px solid #000000;
    border-radius: 8px;
}
.header-Detail-Chap-nextChap .header-Detail-Chap-nextChap-Item span {
    color: whitesmoke;
    margin: 0 20px;
}
.header-Detail-Chap-icon {
    width: 33%;
    display: flex;
    align-items: center;
    position: relative;
}
.header-Detail-Chap-icon-item {
    position: absolute;
    right: 5%;
}
.header-Detail-Chap-icon-item a {
    display: inline-block;
    color: whitesmoke;
    width: 30px;
    height: 30px;
    border: 1px;
    border-radius: 50%;
    background-color: #000000;
    text-align: center;
    line-height: 30px;
}
.body-Detail-Chap {
    width: 100%;
}
.body-Detail-Chap-content {
    width: 100%;
    padding: 100px 275px;
}
.body-Detail-Chap-content-item {
    display: flex;
    flex-direction: column;
}
.body-Detail-Chap-contact {
    width: 100%;
    min-height: 260px;
    text-align: center;
}
.body-Detail-Chap-contact p {
    font-size: 20px;
}
.body-Detail-Chap-contact p span {
    display: inline-block;
    font-size: 17px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: whitesmoke;
    background-color: #00d564;
    border: 1px;
    border-radius: 50%;
}
.body-Detail-Chap-contact-icon {
    margin-top: 20px;
}

.body-Detail-Chap-contact-icon a {
    margin-right: 10px;
    padding: 10px 12px;
    border-radius: 50%;
    color: whitesmoke;
}
.body-Detail-Chap-contact-icon a:hover {
    color: white;
}
.body-Detail-Chap-contact-icon a:nth-child(2){
    background-color: #3a579d;
}
.body-Detail-Chap-contact-icon a:nth-child(3){
    background-color: #5ea9dd;
}
.body-Detail-Chap-contact-icon a:nth-child(4){
    background-color: #35465c;
}
.body-Detail-Chap-contact-icon a:nth-child(5){
     background-color: #ff5700;
 }
.body-Detail-Chap-contact-icon a:nth-child(6){
    background-color: #585858;
}
#sub-detail-chap {
    background-color: #ececec;
    color: #585c6a;
    display: inline-block;
    padding: 8px 15px;
    border: 1px;
    border-radius: 30px;

}
.effect {
    display: none;
    transition: 0.4s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
 /*end-detail-chap*/
