* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, input, textarea, select, button, table {
    font-size: 12px;
    font-family: 'hind','simhei',verdana,Helvetica,sans-serif;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
html, body {
    height: 100%;
}
body {
    display: block;
}
#wrap {
    min-width: 1240px;
}

  
  
  /* header */
  .header {
    clear: both;
  }
  .logo img {
    margin-left: 20px;
  }
  .lnb {
    position: absolute;
    left: 5px;
  }
  .lnb li {
    margin: 0px;
    padding: 0px;
  }
  .lnb li {
    list-style: none;
    float: left;
  }
  .lnb li a {
    line-height: 22px;
    padding: 30px 30px 10px 10px;
    display: block;
    font-size: 20px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }
  .lnb li a:hover {
    color: #01c75d;
  }
  .lk_creators .sta {
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    letter-spacing: -0.2px;
    font-size: 18px;
  }
  .lk_creators {
   position: absolute;
   top: 29px;
   right: 50px;
  }
  .sta a {
    color: black;
    list-style: none;
    text-decoration: none;
  }
  .sta .publish {
    display: inline-block;
    width: 104px;
    height: 30px;
    border-radius: 17px;
    border: 1px solid #b4b4b4;
    background-color: #000;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    color: #fff;
  }
  .sta .login {
    display: inline-block;
    width: 102px;
    height: 30px;
    margin-left: 4px;
    border: 1px solid #b4b4b4;
    border-radius: 17px;
    background: #fff;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    color: #838383;
  }
  .fa-search {
    width: 33px;
    height: 33px;
    background-position: -320px 0;
  }
  /* end header */
  
  /* banner */
  .main_banner_wrap {
    clear: both;
    background:url('https://webtoons-static.pstatic.net/image/pc/home_bg011.jpg') no-repeat 50% 0;
    background-size:cover
  }
  .main_banner_inner {
    /* background: url('./img/home_bg011.jpg'); */
    background-size: cover;
  }
  .main_banner_big {
    position: relative;
    width: 846px;
    height: 495px;
  }
  .banner_samll {
    position: absolute;
    top: 125px;
    right: 165px;
  }
  .banner_samll .banner_small2 {
    position: absolute;
    right: 0px;
    top: 186px;
  }
  
  .mySlides img {
    width: 860px;
    height: 484px;
  }
  /* Slideshow container */
  .slideshow-container {
    position: absolute;
    left: 50px;
    top: 5px;
  }
  /* Ẩn các slider */
  .mySlides {
      display: none;
  }
  /* định dạng các chấm chuyển đổi các slide */
  .dot {
    cursor:pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
  }
  .dot_inner {
    position: absolute;
    bottom: 70px;
    left: 210px;
  }
  /* khi được hover, active đổi màu nền */
  .active, .dot:hover {
    background-color: #717171;
  }
   
  /* Thêm hiệu ứng khi chuyển đổi các slide */
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }
   
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* end banner */
  
  /* daily */
  .daily_tab_wrap {
    height: 62px;
  }
  .daily_tab {
    display: flex;
    justify-content: center;
  }
  .daily_tab .btn_daily {
    width: 120px;
    height: 60px;
    line-height: 62px;
    background: 0;
    font-size: 19px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    cursor: pointer;
    color: #000;
    float: left;
    list-style: none;
  }
  /* end daily */
  
  .wrap {
    background-color: #f4f4f4;
  }
  /* product */
  .card_flipper {
    padding-right: 15px;
  }
  .card_flipper .row {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
  
  }
  .card_flipper .row .col-lg-2{
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .card_front .fa {
    color: #00d564;
    font-size: 14px;
  }
  .card_front .num {
    font-family: 'verdana'!important;
  }
  .genre {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  .g_romance {
    color: #fd337f;
  }
  
  .card_item {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .card_item .card_lst img {
    width: 210px;
    height: 210px;
  }
  .carl_multi .card_item .card_lst img {
    width: 435px;
    height: 210px;
  }
  .carl_multi .card_front {
    color: #fff;
  }
  .carl_multi .card_front p {
    margin-top: 8px;
    font-size: 13px;
    line-height: 16px;
  
  }
  .card_front {
    position: absolute;
    top: 10px;
    left: 0px;
  }
  .card_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fd337f;
    color: whitesmoke;
  }
  .card_front img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .col-lg-2:hover .card_back {
    display: block;
    z-index: 99;
    transition: 1s ease-in-out;
  }
  
  .card_back .info {
    overflow: hidden;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 15px;
    width: 209px;
    height: 210px;
    font-size: 13px;
    background-color: #fd337f;
  } 
  .card_back .info .subj {
    font-weight: normal;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    font-size: 18px;
    padding-top: 5px;
  }
  .card_back .info .summary {
    position: absolute;
    top: 80px;
  }
  .wrap .card_lst {
    margin-left: -6px;
  }
  /* endproduct */
  
  /* new product */
  .card_new .row {
    display: flex;
    justify-content: center;
  }
  .card_multi {
    padding-left: 18px;
  }
  /* end product */
  
  /* genere */
  .main_genre_wrap {
    padding-bottom: 50px;
  }
  .main_genre .ico1 {
    background: #eea800;
  }
  .main_genre .ico2 {
    background: #9ab710;
  }
  .main_genre_wrap .row {
    display: flex;
    justify-content: center;
  }
  .main_genre .inf_genre {
    position: absolute;
    bottom: 20px;
    left: 25px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    font-size: 14px;
    color: #f4f4f4;
  }
  .main_genre .inf_card_front {
    position: absolute;
    top: 15px;
    left: 25px;
    color: #f4f4f4;
  }
  /* end genre */
  
  /* most popular */
  .ranking_lst {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ranking_lst .row {
    display: flex;
    justify-content: center;
  }
  .ranking_lst h5 {
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  .ranking_lst .sort_area {
    color: rgb(131, 131, 131);
    font-size: 16px;
  }
  .ranking_lst .checked {
    float: right;
    display: block;
    position: absolute;
    top: 0px;
    right: 10px;
  }
  .ranking_lst .lst_type {
    list-style: none;
  }
  .lst_type1 {
    border-bottom: 1px solid #ddd;
    padding-left: 0px;
  }
  .lst_type1 .info_area {
    height: 98px;
    padding: 0 80px 0 115px;
  }
  .lst_type1 li {
    position: relative;
    border-top: 1px solid #ddd;
    list-style: none;
  }
  .lst_type1 a {
    display: block;
    cursor: pointer;
  }
  .lst_type1 .pic_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 92px;
    height: 98px;
  }
  .lst_type1 .info_area {
    height: 98px;
    padding: 0 80px 0 115px;
  }
  .lst_type1 .num_ranking {
    position: absolute;
    left: 5px;
    z-index: 10;
  }
  .ico_n1 {
    width: 16px;
    height: 24px;
    background-position: -80px -600px;
    color: #f4f4f4;
    font-size: 20px;
    font-weight: bold;
  }
  .lst_type1 .info_area .genre {
    padding-top: 22px;
    font-size: 13px;
    line-height: 15px;
    padding-left: 110px;
  }
  .lst_type1 .info_area .subj {
    overflow: hidden;
    padding-top: 3px;
    font-size: 15px;
    line-height: 21px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  .lst_type1 .info_area .author {
    font-size: 15px;
    font-weight: 450;
    line-height: 15px;
  } 
  .info_area .genre {
    color: #9ab710;
  }
  .info_area .g_drama{
    color: #00b19a;
  }
  .info_area .g_romance {
    color: #fd337f;
  }
  .info_area .g_fantasy {
    color: #8b00e9;
  }
  
  /* end most popular */
  
  /* spot area */
  .main_challenge_wrap {
    padding-top: 50px;
  }
  .main_challenge_wrap .row {
    display: flex;
    justify-content: center;
  }
  .txt_challenge {
    color: #00d564;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .btn_find {
    color: #f4f4f4;
    background-color: #00d564;
    width: 190px;
    height: 46px;
    border-radius: 25px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    text-align: center;
  }
  .main_challenge_wrap .challenge_spot_list img {
    margin: 0px -10px 10px -5px;
    width: 162px;
    height: 162px;
    border: 1px solid #b4b4b4;
    position: relative;
  }
  .btn_find span {
    position: relative;
    font-size: 18px;
    left: 0px;
    bottom: -9px;
  }
  .main_challenge_wrap .row  {
    padding-top: 10px;
  }
  .challenge_spot_list .info_area {
    position: absolute;
    left: 15px;
    bottom: 0px;
    z-index: 30;
    width: 132px;
  }
  .challenge_spot_list .info_area .author {
    overflow: hidden;
    margin-top: -2px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .challenge_spot_list .info_area .subj {
    overflow: hidden;
    font-size: 20px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0px;
  }
  .skin {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 20;
    width: 162px;
    height: 162px;
    background: #000;
    opacity: 0.24;
  }
  .challenge_spot_list .skin:hover {
    opacity: 0;
  }
  
  /* footer */
  .footer-Original {
    background-color: #f5f5f5;
  }
  .notice {
    border: 1px solid #e5e5e5;
  }
  .notice p {
    margin: 20px 72px;
    display: inline-block;
    font-size: 17px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
  }
  .notice span {
    font-size: 15px;
    color: #bfb1b1;
  }
  .download-Original {
    text-align: center;
    border: 1px solid #e5e5e5;
    padding: 15px 0px 0px 0px;
  }
  .download-Original h3 {
    font-size: 18px;
    font-family: 'hind_m','simhei',verdana,Helvetica,sans-serif;
  }
  .box-Download {
    margin: 20px;
  }
  .end-Footer {
    text-align: center;
    margin-top: 50px;
  }
  .end-Footer-Icon span {
    margin-right: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .end-Footer-Menu  {
    margin-top: 30px;
    font-size: 13px;
  }
  .end-Footer-Menu ul li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
  }
  .end-Footer-Menu ul li a {
    color: black;
  }
  .end-Footer-Menu ul li a:hover {
    text-decoration: none;
  }
  .end-Footer-Logo {
    margin-top: 20px;
  }
  .footer-Original .fa {
    font-size: 25px;
  }
  .end-Footer-Icon {
    margin-left: 10px;
  }
  /* end footer */
  

/*end-index*/
    /*start-ongoing*/

    /*start-header-ongoing*/

.header-ongoing {
    border-top: 1px solid #eaeaea;
    min-height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.box-icon-canvas {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 115px;
    overflow: hidden;
    min-height: 70px;
}
.box-icon-canvas li {
    line-height: 70px;
    height: 70px;
    padding: 0 15px;
}
.box-icon-canvas li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    height: 100%;
}
.box-icon {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-Com {
    color: #00d564 !important;
}

#navbar {
    clear: both;
    max-height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #eaeaea;
    background-color: white;
}
#navbar .box-icon a:hover {
    text-decoration: none;
    color: #00d564;
}
#navbar .box-icon a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 40px;
}
#navbar-a {
    position: absolute;
    top: 0;
    right: 5%;
    font-weight: 100;
}
    /*end-header-ongoing*/
    /*start-Ongoing Series*/
.body-total-Ongoing {
    background-color: #f5f5f5;
    padding: 15px 0;
}
.body-Original {
    padding: 0 72px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eaeaea;
    clear: both;
}
.h2-Ongoing {
    margin: 40px 0 15px 72px;
    font-size: 20px;
}
.ongoingSeries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ongoingSeries h3 {
    text-align: center;
    margin-bottom: 20px;

}
.ongoingSeries-item {
    border: 0.5px solid #dbdbdb;
    position: relative;
    width: 153px;
    height: 153px;
    background-color: #FFFFFF;
}
.btn-gr:active {
    color: white;
}
.btn-gr:hover {
    cursor: pointer;
}
.img-Ongoing {
    position: absolute;
    right: 0;
    bottom: 0;
}
.img-Ongoing img {
  width: 138px;
  height: 138px;
  position: absolute;
}
.mark-Ongoing {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.mark-Ongoing p {
    position: absolute;
    top: 4%;
    left: 5%;
    font-weight: bold;
}
.mark-Ongoing .status {
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    border: 1px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #00d564;
}
.mark-Ongoing span {
    position: absolute;
    bottom: 4%;
    left: 5%;
    color: #fd74a8;
}
.mark-Ongoing-after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
.mark-Ongoing-after p {
    font-size: 13px;
    margin: 5px 10px;
}
.mark-Ongoing-after .genres-Com {
    color: pink;
    font-weight: 700;
}
.mark-Ongoing-after .name-Com {
    font-size: 15px;
    font-weight: bold;
}

.mark-Ongoing-after .status {
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    border: 1px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #00d564;
}

    /*end-Ongoing Series*/
    /*start-Completed Series*/
.body-CompletedSeries {
    padding: 0 72px;
    display: flex;
    justify-content: space-around;
}
.completedSeries {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.CompletedSeries-item {
    border: 1px solid #f5f5f5;
    position: relative;
    width: 228px;
    height: 152px;
    background-color: white;
    margin-top: 10px;
}
.CompletedSeries-item img {
 position: absolute;
 width: 138px;
 height: 138px;
}
.CompletedSeries-item .markCompleted {
    position: absolute;
    top: 0;
    left: 0;
}
.CompletedSeries-item .markCompleted p {
    font-size: 13px;
    margin: 5px 10px;
}
.CompletedSeries-item .markCompleted .genres-Com {
    color: pink;
    font-weight: 700;
}
.CompletedSeries-item .markCompleted .name-Com {
    font-size: 15px;
    font-weight: bold;
}

.CompletedSeries-item .markCompleted .status {
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    border: 1px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #00d564;
}
.CompletedSeries-item .markCompleted .icon-Com {
    margin-top: 15px;
    color: #00d564;
}
.CompletedSeries-item .img-Com {
    position: absolute;
    right: 0;
    bottom: 0;
}
    /*end-Completed Series*/
    /*start-Footer Origial*/
.footer-Original {
    background-color: #f5f5f5;
}
.notice {
    border: 1px solid #e5e5e5;
}
.notice p {
    margin: 20px 72px;
    display: inline-block;
    font-size: 17px;
}
.notice span {
    font-size: 15px;
    color: #bfb1b1;
}
.download-Original {
    text-align: center;
    border: 1px solid #e5e5e5;
}
.download-Original h3 {
    font-size: 18px;
}
.box-Download {
    margin: 20px;
}
.end-Footer {
    text-align: center;
    margin-top: 50px;
}
.end-Footer-Icon span {
    margin-right: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.box-icon-canvas {
    list-style-type: none;
}
.end-Footer-Menu  {
    margin-top: 30px;
}
.end-Footer-Menu ul li {
    display: inline-block;
    margin-right: 30px;
}
.end-Footer-Menu ul li a {
    color: black;
}
.end-Footer-Menu ul li a:hover {
    text-decoration: none;
}
.end-Footer-Logo {
    margin-top: 20px;
}
    /*end Footer Original*/
    /*end-original*/

    /*start-canvas*/
    /*start-slider*/
.slider-canvas {
    min-height: 465px;
    width: 100%;
    padding-bottom: 40px;
    background: #191919;

}
.RECOMMENDED {
    width: 100%;
    min-height: 90px;
    padding: 0 115px;
}
.RECOMMENDED h2 {
    font-size: 20px;
    color: #01c75d;
    line-height: 90px;
}
.img-canvas {
    width: 220px;
    height: 340px;
}
.main-crs {
    background-image: url("upload/discover_bg.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 115px;
}
.crs {
    position: relative;
    margin-right: 15px;
}
.mark-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}
.mark-canvas-view {
    border: 1px solid #0ea641;
    color: #0ea641;
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.mark-canvas-genres {
    margin-top: 188px;
    color: #d96c1f;
}
.mark-canvas-name {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.mark-canvas-name1 {
    color: white;
    font-size: 17px;
}
.img-canvas {
    opacity: 0.7;
}

    /*end-slider*/
    /*start-beforenav*/
    .before_nav {
      justify-content: center;
      display: flex;
      background-color: black;
    }
    /*end-beforenav*/
    /*start-body-canvas*/
.body-canvas {
    width: 100%;
}
.weekly-canvas {
    display: flex;
    justify-content: space-between;
    padding: 0 115px;
}
.weekly-canvas-item{
    width: 180px;
    height: 265px;
    position: relative;
    border: 1px solid #e2e2e2;
}
.weekly-canvas-name {
    color: black;
}
.total-view-canvas {
    color: #00d564;
}
.weekly-canvas-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.mark-weekly-canvas {
    padding: 10px 15px;
}
.mark-weekly-view {
    border: 1px solid #0ea641;
    color: #0ea641;
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 120px;
}
.mark-weekly-genres {
    color: #fd4ca7;
}
.weekly-canvas-name {
    font-size: 16px;
}
.menu-Popular-Canvas {
    margin: 70px 0 20px 115px;
}
.menu-Popular-Canvas a {
    margin-right: 20px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.menu-Popular-Canvas a:hover {
    text-decoration: none;
    color: black;
}
.menu-Popular-Canvas h2 {
    display: inline;
    margin-right: 20px;
}
.menu-Popular-Canvas-item {
    display: flex;
    justify-content: space-between;
}
.popular-canvas {
    margin-bottom: 70px;
}
    /*end-body-canvas*/
    /*end-canvas*/
    /*start-detail*/

    /*start-body-detail*/
.body-Detail {
    width: 100%;
    min-height: 1300px;
    background-color: #f5f5f5;
    position: relative;
}
.body-Main-Detail {
    min-height: 320px;
    width: 100%;
    position: relative;
    padding: 20px 100px 90px;
    display: flex;
    justify-content: space-between;
    background-image: url("./upload/detail/detailbanner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.body-detail-img {
    min-height: 240px;
    position: relative;
    width: 380px;
}
.body-detail-img img {
    position: absolute;
    width: 1200px;
    height: 240px;
    z-index: 1;
}
.body-detail-content {
    width: 460px;
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.body-detail-content-item {
    text-align: center;
}
.body-detail-content-item span {
    font-size: 20px;
    color: #fd5287;
}
.body-detail-content-item h2 {
    margin: 10px 0 20px;
    font-size: 50px;
}
.body-detail-content-item a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.body-detail-content-item a:hover {
    text-decoration: none;
    color: black;
}
.body-detail-content-item a i {
    background-color: black;
    color: whitesmoke;
    width: 20px;
    height: 20px;
    border: 1px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 8px;
}
.body-detail-icon {
    min-height: 240px;
    font-size: 18px;
    position: relative;
    width: 355px;
    z-index: 3;
}
.detail-icon-item {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.body-detail-icon .detail-icon-item a i {
    background-color: black;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px;
    color: whitesmoke;
}
.body-detail-icon .detail-icon-item a {
    background: #FFFFFF;
    color: black;
    border-radius: 30px;
    margin-right: 10px;
}
.both-Detail {
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.box-both {
    width: 560px;
    min-height: 385px;
    background-color: #FFFFFF;
    position: relative;
    top: 120px;
    left: 400px;
    z-index: 5;
    border: 1px;
    border-radius: 30px;
    padding: 20px 50px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;

}
.box-both-top {
    position: relative;
}
.white-both {
    background-color: #313131;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 3;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.box-both, .white-both {
    transition: 0.4s;
}
.box-Show {
    opacity: 1;
    z-index: 5;
    visibility: visible;
}
.white-Show {
    opacity: 0.4;
    visibility: visible;
}
.btn_Hidden {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: -10%;
    right: -8%;
    border: 1px;
    border-radius: 50%;
    color: white;
    background-color: #000000;
    cursor: pointer;
}
.box-both-top {
    margin-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}
.box-both-top h4 {
    font-size: 20px;
    color: #000000;
}
.box-both-top span {
    color: #aea6a6;
    margin-right: 10px;
    font-size: 16px;
}
.box-both-top a {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: 1px;
    border-radius: 50%;
    background-color: #000000;
    color: white;
    display: inline-block;
}
.box-both-top p {
    color: #404040;
    margin-top: 20px;
    font-size: 18px;
}
.box-both-bottom-list{
    display: flex;
    justify-content: space-between;

}
.box-both-bottom h4 {
    font-size: 20px;
    color: #000000;
}
.box-both-bottom-item {
    width: 155px;
    height: 155px;
    border: 1px solid #dbdbdb;
    margin-right: 5px;
    position: relative;
}
.box-both-bottom-item img {
    position: absolute;
    top: 0;
    left: 0;
}
.box-both-bottom-item-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 12px;
}
.box-both-bottom-item-content p {
    margin-bottom: 90px;
    font-size: 14px;
    font-weight: bold;
    color: #1f1e1e;
}
.box-both-bottom-item-content span {
    color: #1ab9a4;
    font-weight: bold;
}
.box-both-bottom-list a {
    text-decoration: none;

}
.box-both-bottom-list a:hover {
    text-decoration: none;
}

#sub-detail {
    background-color: black;
    color: whitesmoke;
    font-size: 12px;
    height: 32px;
    width: 80px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
}
.card-detail {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: absolute;
    top: 20%;
    left: 4.5%;
}
.card-detail-item a  {
  text-decoration: none;
  color: #000;
}
.info-detail {
  position: relative;
  top: -47px;
  left: 210px;
}
.card-detail-list-item {
    border: 1px solid #f5f5f5;
    width: 800px;
    padding: 100px 10px;
}
.card-detail-item {
    width: 780px;
   border: 1px solid #f5f5f5;
}
.card-detail-item:hover {
    background-color: #fbfbfb;
}
.card-detail-item img {
    width: 78px;
    height: 75px;
    margin-right: 10px;
}
.date-detail {
    margin: 0 20px 0 340px;
    color: #bbbbbb;
}
.view-detail {
    margin-right: 40px;
    color: #bbbbbb;

}
.card-detail-intro {
    padding: 50px 45px;
    width: 400px;
    overflow: hidden;

}
.card-detail-intro span {
    color: #00d564;
    font-size: 12px;
    margin-right: 10px;
}
.card-detail-intro a {
    color: whitesmoke;
    background-color: #00d564;
    display: inline-block;
    padding: 8px 20px;
    border: 1px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.card-detail-intro p {
    font-size: 15px;
}
#episode-detail {
    display: block;
    margin: 30px 0 140px;
    background-color: #2f2f2f;
    padding: 15px 0;
}
#episode-detail:hover {
    text-decoration: none;
    color: whitesmoke;
}
.card-detail-intro img {
    float: right;
    transform: scale(1.5);
}

    /*end-body-detail*/
    /*start- relate-detail*/
.relate-detail {
    padding: 0 75px;
    margin: 75px 0;
}
.relate-detail-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.relate-detail-title h3 {
    font-size: 22px;
}
.relate-detail-title h3 span {
    color: #39dc85;
}
.relate-detail-list {
    display: flex;
    justify-content: space-around;
}
.relate-detail-list-item {
    margin-right: 10px;
}
    /*end- relate-detail*/
    /*end-detail*/
    /*start-detail-chap*/
.header-Detail-Chap {
    width: 100%;
    min-height: 40px;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}
.header-Detail-Chap-Logo {
    width: 33%;
    padding: 0 20px;
}
.header-Detail-Chap-Logo h2 {
    display: inline-block;
    font-size: 17px;
    color: whitesmoke;
    margin-left: 20px;
}
.header-Detail-Chap-nextChap {
    min-height: 40px;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-Detail-Chap-nextChap .header-Detail-Chap-nextChap-Item a {
    font-size: 25px;
    padding: 5px 15px;
    color: whitesmoke;
    border: 2px solid #000000;
    border-radius: 8px;
}
.header-Detail-Chap-nextChap .header-Detail-Chap-nextChap-Item span {
    color: whitesmoke;
    margin: 0 20px;
}
.header-Detail-Chap-icon {
    width: 33%;
    display: flex;
    align-items: center;
    position: relative;
}
.header-Detail-Chap-icon-item {
    position: absolute;
    right: 5%;
}
.header-Detail-Chap-icon-item a {
    display: inline-block;
    color: whitesmoke;
    width: 30px;
    height: 30px;
    border: 1px;
    border-radius: 50%;
    background-color: #000000;
    text-align: center;
    line-height: 30px;
}
.body-Detail-Chap {
    width: 100%;
}
.body-Detail-Chap-content {
    /* width: 100%; */
    padding: 100px 275px;
}
.body-Detail-Chap-content-item {
    display: flex;
    flex-direction: column;
}
.body-Detail-Chap-contact {
    width: 100%;
    min-height: 260px;
    text-align: center;
}
.body-Detail-Chap-contact p {
    font-size: 20px;
}
.body-Detail-Chap-contact p span {
    display: inline-block;
    font-size: 17px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: whitesmoke;
    background-color: #00d564;
    border: 1px;
    border-radius: 50%;
}
.body-Detail-Chap-contact-icon {
    margin-top: 20px;
}

.body-Detail-Chap-contact-icon a {
    margin-right: 10px;
    padding: 10px 12px;
    border-radius: 50%;
    color: whitesmoke;
}
.body-Detail-Chap-contact-icon a:hover {
    color: white;
}
.body-Detail-Chap-contact-icon a:nth-child(2){
    background-color: #3a579d;
}
.body-Detail-Chap-contact-icon a:nth-child(3){
    background-color: #5ea9dd;
}
.body-Detail-Chap-contact-icon a:nth-child(4){
    background-color: #35465c;
}
.body-Detail-Chap-contact-icon a:nth-child(5){
     background-color: #ff5700;
 }
.body-Detail-Chap-contact-icon a:nth-child(6){
    background-color: #585858;
}
#sub-detail-chap {
    background-color: #ececec;
    color: #585c6a;
    display: inline-block;
    padding: 8px 15px;
    border: 1px;
    border-radius: 30px;

}
.effect {
    display: none;
    transition: 0.4s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
 /*end-detail-chap*/
