<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEBTOON-the official home for all things WEBTOON</title>

    <link rel="stylesheet" href="public/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">


</head>
<body>
   <div class="wrapper">

       <div class="genre-header">
           <div class="genre-logo">
            <a href="./../index.html">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Naver_Line_Webtoon_logo.png" width="100px"
                    height="100px" alt="">
            </a>
           </div>
           <div class="genre-header-menu">
               <ul class="genre-header-menu-ul">
                <a href="./../originals.html"><li class="genre-header-menu-li">Originals</li></a>
                <a href="./../fixx/genre.index.html"><li class="genre-header-menu-li">Genres</li></a>
                <a href="./../fixx/Popular.html"><li class="genre-header-menu-li">Popular</li></a>
                <a href="./../canvas.html"><li class="genre-header-menu-li">Canvas</li></a>
               </ul>
           </div>
           <div class="genre-search">
               <p class="fa fa-book " style="font-size: 20px" ><span style="padding: 0px 5px">Creators101</span></p>
               <span class="bar">|</span>
               <span class="genre-publish"> Publish </span>
               <span class="genre-login"> Log In</span>
               <span class="bar">|</span>
               <span class="btn_search _btnSearch">
                        <a href="#" class="fa fa-search" style="font-size: 20px" ></a>
                    </span>
           </div>

       </div>
       <hr>
 <!--content-->
        <div class="wrapper-content">
        <div class="content-right">
           <h2 class="genre-titel">Most Popular by Genre</h2>
            <hr>
                <ul class="menu">
                    <li class="menu-li">ALL</li>
                    <li class="menu-li">Action<br>/Fantasy</li>
                    <li class="menu-li">Romance <br>/Drama</li>
                    <li class="menu-li">Comedy</li>
                    <li class="menu-li">Slice Of Life</li>
                    <li class="menu-li">Others</li>
                </ul>
            <hr>
            <div class="Popular-rank">
                <div class="Popular-rank-right">1</div>
                <div class="Popular-rank-center">
                    <span class="rank-romance">Romance</span><br>
                    <h2 class="rank-lore">Lore Olympus</h2>
                    <h4>Rachel Smythe</h4>
                    <span style="padding-top: 5px; display: inline-block">Witness what the gods do…after dark. The friendships and the lies,
                        the gossip and the wild parties, and of course, forbidden love. Because it t...</span>
                </div>
                <div class="Popular-rank-left">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (3).jpg" height="210" width="210"/>
                </div>

            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">2</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/08_EBA788EC88A0EC82AC.jpg" height="98" width="92" />
                </p>
                <div class="text">
                    <span style="color: #fd337f">Romance</span><br>
                    <h3 style="padding: 2px 0px"> Let's play</h3>
                    <span>Mongie</span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">3</span>
                <p class="Rank-img">

                    <img src="LearJquery/img-genre/10_EBA088EC82AC.jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #00b19a">Drama</span><br>
                    <h3 style="padding: 2px 0px"> True Beauty</h3>
                    <span>Yaongyi</span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">4</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad.jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #fd337f">Romance</span><br>
                    <h3 style="padding: 2px 0px"> SubZero</h3>
                    <span>Junepurrr </span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">5</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (1).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #8b00e9">Fantasy</span><br>
                    <h3 style="padding: 2px 0px"> unOrdinary</h3>
                    <span>Uru-chan</span>
                </div>
            </div>
            <hr>
            <div class="rank" >
                <span class="rank-top">6</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (5).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color:  #eea800">Comedy</span><br>
                    <h3 style="padding: 2px 0px"> Cursed Princess Club</h3>
                    <span>LambCat</span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">7</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (6).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #fd337f">Romance</span><br>
                    <h3 style="padding: 2px 0px"> Let's play</h3>
                    <span>Mongie</span>
                </div>
            </div>
            <hr>
            <div class="rank" >
                <span class="rank-top">8</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (7).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #fd337f">Romance</span><br>
                    <h3 style="padding: 2px 0px">Age Matters</h3>
                    <span>Enjelicious</span>
                </div>
            </div>
            <hr>
            <div class="rank" >
                <span class="rank-top">9</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (8).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #fd337f">Romance</span><br>
                    <h3 style="padding: 2px 0px"> Freaking Romance</h3>
                    <span>Snailords</span>
                </div>
            </div>
            <hr>



        </div>


        <div class="content-left">
            <h2 class="genre-titel">Most Popular by Genre</h2>
            <hr>
            <ul class="menu">
                <li class="menu-li">Males<br>IN10'S</li>
                <li class="menu-li">Females<br>IN10'S</li>
                <li class="menu-li">Males<br>IN20'S</li>
                <li class="menu-li">Females<br>IN20'S</li>
                <li class="menu-li">Males<br>IN30'S</li>
                <li class="menu-li">Females<br>IN30'S</li>
            </ul>
            <hr>
            <div class="Popular-rank" >
                <div class="Popular-rank-right">1</div>
                <div class="Popular-rank-center">
                    <span class="rank-romance">Romance</span><br>
                    <h2 class="rank-lore">Left's Play</h2>
                    <h4>Mongie</h4>
                    <span style="padding-top: 5px; display: inline-block">Witness what the gods do…after dark. The friendships and the lies,
                        the gossip and the wild parties, and of course, forbidden love. Because it t...</span>
                </div>
                <div class="Popular-rank-left">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (9).jpg" height="210"/>
                </div>

            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">2</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (10).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #fd337f">SubZero</span><br>
                    <h3 style="padding: 2px 0px"> Junepurrr</h3>
                    <span>Mongie</span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">3</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (11).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #8b00e9">Fantasy</span><br>
                    <h3 style="padding: 2px 0px"> unOrdinary</h3>
                    <span>uru-chan</span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">4</span>
                <p class="Rank-img">

                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (12).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #eea800">Comedy</span><br>
                    <h3 style="padding: 2px 0px"> Cursed Princess Club</h3>
                    <span>LambCat </span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">5</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (13).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #fd337f">Romance</span><br>
                    <h3 style="padding: 2px 0px"> Freaking Romance</h3>
                    <span>Snailords</span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">6</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (14).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color:  #8b00e9">Fantasy</span><br>
                    <h3 style="padding: 2px 0px"> The Wrath &amp; the Dawn</h3>
                    <span>Renée Ahdieh / SilvesterVitale</span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">7</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (15).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #fd337f">Romance</span><br>
                    <h3 style="padding: 2px 0px"> LUFF</h3>
                    <span>Arechan</span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">8</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (16).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #c00355">Thriller</span><br>
                    <h3 style="padding: 2px 0px">Sweet Home</h3>
                    <span>Youngchan Hwang / Carnby Kim</span>
                </div>
            </div>
            <hr>
            <div class="rank"  >
                <span class="rank-top">9</span>
                <p class="Rank-img">
                    <img src="LearJquery/img-genre/10_EC8DB8EB84A4EC9DBC_ipad (17).jpg" height="98" width="92"/>
                </p>
                <div class="text">
                    <span style="color: #8b00e9">Fantasy</span><br>
                    <h3 style="padding: 2px 0px"> Winter Moon</h3>
                    <span>Merryweather / MAYUI</span>
                </div>
            </div>
            <hr>

        </div>
        </div>
    <hr style="margin-top: 40px">

       <!--start-footer-->
       <div class="footer-Original">
           <div class="notice">
               <p>Notice > WEBTOON's Beta Creator Credit for<span> DecemberJan 30, 2020</span></p>
           </div>
           <div class="download-Original">
               <h3>Download WEBTOON now!</h3>
               <div class="box-Download">
                   <a href="#"><img src="https://www.homecredit.vn/app/webroot/img/app_badge/google-play-badge-EN.png" width="138px" height="39px" alt=""></a>
                   <a href="#"><img src="https://deo.shopeemobile.com/shopee/shopee-appdlpage-live-vn/static/img/appleStore.0ca159be.png"
                                    alt="" width="138px" height="39px"></a>
               </div>
           </div>
           <div class="end-Footer">
               <div class="end-Footer-Icon">
                   <span><i class="fab fa-facebook-f"></i></span>
                   <span><i class="fab fa-instagram"></i></span>
                   <span><i class="fab fa-twitter"></i></span>
                   <span><i class="fab fa-youtube"></i></span>
               </div>
               <div class="end-Footer-Menu">
                   <ul>
                       <li><a href="">About |</a></li>
                       <li><a href="">Feedback |</a></li>
                       <li><a href="">Terms |</a></li>
                       <li><a href="">Help |</a></li>
                       <li><a href="">Privacy |</a></li>
                   </ul>
               </div>
               <div class="end-Footer-Logo">
                   <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Naver_Line_Webtoon_logo.png"
                        alt="" width="90px" height="90px">
               </div>
           </div>
       </div>
       <!--end-start-->
    </div>
</body>
</html>